# Python
__pycache__/
*.pyc
.env
venv/
output/*
data/raw/*

# Virtual environments
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Logs temporales
*.log

# Output data
output/

#Ignore vim temp files
*.swp
*.swo


