# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
.env/
*.env
.idea

# =========================
# Data & Output
# =========================
output/
data/raw/

# =========================
# Logs
# =========================
*.log

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Node
# =========================
node_modules/

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/

# =========================
# Build
# =========================
dist/
build/
*.egg-info/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Vim / Neovim
# =========================
*.swp
*.swo

# =========================
# Project-specific
# =========================
reflexiones/
config/secrets.yaml
project_guidelines/*
